/* Header Styles */
.header {
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(to top, rgba(66, 65, 65, 0.52), rgba(5, 5, 5, 0.73)), url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    margin: 50px auto;
    border-radius: 18px;
}


.banner-sub-title {
    color: white;
    position: absolute;
    width: 259px;
    height: 40px;
    padding: 170px 530px 380px 530px;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.banner-title {
    color: white;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    width: 632px;
    height: 190px;
    padding: 200px 350px;
    position: absolute;
}

/* Main Section Styles */

/* 65% offer styles */
.offer-part {
    width: 1600px;
    height: 7335px;

}

.offer {
    color: rgb(255, 0, 0);
    width: 383px;
    height: 107px;
    margin: 0 500px 0 700px;
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 30px;
}

.offer-img {
    width: 802.9px;
    height: 500px;
    margin: 0 500px 0 550px;
    border-top: 2px dashed gray;
}

.offer-description {
    color: rgb(255, 0, 0);
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin: 0 500px 0 700px;
    padding-bottom: 15px;
}

.categories {
    color: rgb(7, 2, 17);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin: 0 400px 0 600px;
    padding-bottom: 15px;
}